<h1><%= t '.editing' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to I18n.t(:show_this_book), @book %> |
  <%= link_to I18n.t(:back_to_books), books_path %>
</nav>
