<div id="<%= dom_id report %>">
  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= report.memo %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= report.created_at %>
  </p>

</div>
